html, body { height: 100vh; margin: 0; }

body {
  display: grid;
  place-items: center;
}

ul {
  --perspective: 25;
  --columns: 5;
  --rows: 2;
  --module-size: 150px;

  all: unset;
  display: grid;

  grid-template-columns: repeat(var(--columns), var(--module-size));
  grid-template-rows: repeat(var(--rows), var(--module-size));
  grid-template-areas: '1 2 3 4 5' '6 7 8 9 10';

  transform: rotateX(calc(var(--perspective) * 1deg));
}

ul li {
  --corner-size: 25px;
  --clip-path: polygon(var(--corner-size) 0%, calc(100% - var(--corner-size)) 0%, 100% var(--corner-size), 100% calc(100% - var(--corner-size)), calc(100% - var(--corner-size)) 100%, var(--corner-size)100%, 0% calc(100% - var(--corner-size)), 0% var(--corner-size));
  --hue: 240;

  all: unset;
  position: relative;
  display: none;
  border-radius: 50px;
}

ul li:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(var(--module-size) / calc(8.5));
  clip-path: var(--clip-path);

  background-color: hsl(var(--hue), 100%, 25%);
}

ul li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: var(--clip-path);
  background-color: hsl(var(--hue), 100%, 50%);
}

ul li div:nth-child(1) {
  width: 100%;

}

ul li div:nth-child(2) {
  display: grid;
  place-items: center;
  grid-gap: 10%;
  position: absolute;
  top: calc(100% + ((var(--module-size) / 8.5) / 2 - 5px));
  width: calc(90% - (var(--corner-size) * 2));
  height: 10px;
  background: black;
  z-index: 1;
  transform: translateX(-50%);
  left: 50%;
}

ul li div:nth-child(2):before {
  display: block;
  content: "";
  background-color: gold;
  height: 25%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

li:nth-child(1) {
  display: block;
}